<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" >
        <div>
            <p>Barra de busqueda</p> 
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/crear-cuenta">Creá tu cuenta</a></li>
                <li><a href="/ingresar">Ingresá</a></li>
                <li><a href="/mis-compras">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <img src="/images/img-home-banner.jpg" alt="Banner"width="390">
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="270">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="270">
                <p>$230.000</p>
                <p>20% OFF</p>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="270">
                <p>$70.500</p>
                <p>10% OFF</p>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" width="270">
                <p>$23.200</p>
                <p>5% OFF</p>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>
        <section>
            <h2>Sección de Ofertas</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="270">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="270">
                <p>$230.000</p>
                <p>20% OFF</p>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="270">
                <p>$70.500</p>
                <p>10% OFF</p>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" width="270">
                <p>$23.200</p>
                <p>5% OFF</p>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.<br>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>
