.icono-footer {
    font-size: 28px;
    color: var(--colorCeleste);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-section {
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    width: 30%; /* Ajusta el ancho según sea necesario */
    margin: 10px; /* Agrega margen entre las secciones */
}

/* Media query para ajustar estilos en dispositivos con un ancho de pantalla de hasta 768px (puedes ajustar este valor según tus necesidades) */
@media only screen and (max-width: 440px) {
    .footer-section {
        width: 100%; /* Hace que las secciones ocupen el ancho completo en pantallas más pequeñas */
    }
}
