:root {
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ffffff;
    --colorVerde: #39b54a;
    --tipografia: 'Roboto', sans-serif;
}

body {
    background-color: #ebebeb;
    font-family: var(--tipografia);
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.banner-container img {
    width: 100%;
    height: auto; 
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    display: block;
}

form {
    padding-left: 30px;
}

footer {
    border: 10px solid var(--colorGrisClaro);
    padding: 20px;
}

.article-box {
    background-color: white;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    margin-bottom: 10px;
}

main {
    width: 90%;
    margin: 0 auto;
}

.art_1 {
    width: 100%; 
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.art_1 h3 {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.art_1:hover h3 {
    opacity: 1;
}

.art_1:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.art_1 img {
    width: 90%;
    height: auto;
    border-radius: 8px; 
    margin-bottom: 10px;
}

.icono-camion {
    font-size: 13px;
    color: var(--colorVerde); 
    border: 2px solid var(--colorVerde);
    border-radius: 50%;
    padding: 5px;
    margin-bottom: 10px;
    float: right; /* Agregamos esta línea para posicionar a la derecha */
}

.art_1 .icono-camion {
    transition: transform 0.3s ease-in-out;
}

.art_1:hover .icono-camion {
    transform: rotate(-90deg);
}


.precio-descuento {
    color: var(--colorVerde);
}

.precio {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.precio-producto,
.precio-descuento {
    width: 100%; 
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.imagen-separada {
    border-top: 1px solid var(--colorGrisClaro); /* Puedes ajustar el color según tu preferencia */
    padding-top: 10px; /* Ajusta el valor según sea necesario para el espacio deseado */
    margin-bottom: 10px; /* Ajusta el valor según sea necesario para el espacio deseado */
}

@media (min-width: 768px) {
    .flex-container .art_1 {
        flex: 0 0 calc(45% - 20px);
        width: calc(50% - 20px);
    }
}

@media (min-width: 1024px) {
    .flex-container .art_1 {
        flex: 0 0 calc(25% - 20px); 
        width: calc(25% - 20px);
    }
}
