* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo {
    width: 45%; /* Ancho deseado */
    height: 45%; /* Altura ajustada automáticamente para mantener la proporción original */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.barra-busqueda-container {
    display: flex;
    border: 1px solid #000;
    border-radius: 5px;
    overflow: hidden;
    width: 150px;
    height: 30px;
}

.barra-busqueda-input {
    flex-grow: 1;
    border: none;
    padding: 5px;
    width: calc(100% - 10%); 
}

.barra-busqueda-button {
    background: #ffffff;
    color: #000;
    border: none;
    padding: 5px 10px;
    width: 40px; /* Establece el ancho del botón */
}

.home__header {
    background-color: var(--colorAmarillo);
}

.header-nav-menu ul li a {
    color: black;
}

.user_list_conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--colorAmarillo);
}

.menu-list, .user-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu-list li, .user-menu li {
    margin-right: 10px; /* Ajuste del valor según necesidades */
}

.burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colorCeleste);
    color: white;
    width: 35px; /* Ajusta el ancho según sea necesario */
    height: 35px;
    padding: 10px;
    margin-left: 40%;
    border-radius: 5px;
}

@media (max-width: 435px) {
    .header-nav-menu ul:first-child,
    .header-nav-menu ul:last-child,
    .menu-list,
    .user-menu {
        display: none; 
    }
    
    .mensaje-oferta {
        font-size: 14px;
    }

    .precio-producto {
        font-size: 16px;
    }

    .precio-descuento {
        font-size: 14px;
    }

    .user_list_conteiner {
        flex-direction: column;
        align-items: center;
    }

    .burger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--colorCeleste);
        color: white;
        padding: 10px;
        margin-top: 10px;
        border-radius: 5px;
    }
   .barra-busqueda-container {
        width: 50%; 
        margin-left: 50%; /* Elimina el margen derecho para ajustes en dispositivos móviles */
    }
    
    .barra-busqueda-input {
        flex-grow: 1;
        border: none;
        padding: 5px;
        width: calc(100% - 10px); /* Ajuste del valor según necesidades */
    }
    
    .barra-busqueda-button {
        background: #ffffff;
        color: #000;
        border: none;
        padding: 5px 10px;
        width: 40px; /* Establece el ancho del botón */
    }
}


/* Estilos específicos para dispositivos con ancho de pantalla mayor a 425px (tablet y escritorio) */
@media (min-width: 426px) {
    .header-nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    .menu-list,
    .user-menu {
        display: flex;
        align-items: center;
    }

    .menu-list {
        justify-content: flex-start;
        margin-right: 20px;
    }

    .user-menu {
        justify-content: flex-end;
        margin-left: 20px;
    }

    /* Ocultar el menú de hamburguesas en tablet y escritorio */
    .burger-menu {
        display: none;
    }
}
