
.logo {
    max-width: 40%;
    height: auto;
    padding: 40px;
    padding-bottom: 20px;
}


.barra_busqueda {
    display: flex;
    align-items: center; 
}

#barra_busqueda {
    flex: 1; 
}

.barra_busqueda button {
    cursor: pointer;
    margin-left: 10px; 
}


.home__header {
    background-color: var(--colorAmarillo);
}

.header__nav--menu ul li a {
    color: black;
}

.burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.burger-menu i {
    font-size: 25px;
    background-color: var(--colorCeleste);
    color: white;
    padding: 10px;
    border-radius: 20%; 
}

@media (max-width: 380px) {
    .header__nav--menu ul:first-child,
    .header__nav--menu ul:last-child {
        display: none;
    }

    .burger-menu {
        display: flex;
    }


    .mensaje-oferta {
        font-size: 14px; 
    }

    .precio-producto {
        font-size: 16px; 
    }

    .precio-descuento {
        font-size: 14px; 
    }
}

@media (min-width: 426px) {
    .burger-menu {
        display: none;
    }
}
